version: "1.0.0"

services:
  postgres:
    container_name: events_postgres
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5434:5432"
    networks:
      - backend
    volumes:
      - pg_data:/var/lib/postgresql/data

networks:
  backend:

volumes:
  pg_data: